<%- include ../partials/header.ejs %>


  <!-- Main Content -->
  <main class="container">
    <div class="row">
        <h1><%= title %></h1>
        <br>
        <div>
            <a href="/buscontact/add" class="btn btn-primary align-self-end" role="button">
                <i class="fas fa-plus-circle"></i> 
                Add a new Item
            </a>                
        </div>

        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <!-- Header Row-->
                <tr>
                    <th class="text-center">Contact Name</th>
                    <th class="text-center">Contact Number</th>
                    <th class="text-center">Email</th>
                    <th class="text-center" colspan="2">Actions</th>
                </tr>

                <!-- Repeatable Template Row -->

                <% for(let count = 0; count < BuscontactList.length; count++) { %>
                    <tr>
                        <td class="text-center"><%= BuscontactList[count].contact_name %></td>
                        <td class="text-center"><%= BuscontactList[count].contact_number %></td>
                        <td class="text-center"><%= BuscontactList[count].email_address %></td>
                        
                        <td class="text-center">
                            <a href="/buscontact/edit/<%= BuscontactList[count]._id %>" class="buttonedit">Edit</a>
                            
                            <!-- <a href="/buscontact/edit/<%= BuscontactList[count]._id %>" class="btn btn-primary btn-sm"> -->
                                <!-- <i class="fas fa-pencil-alt"></i></a> -->
                        </td>
                        <td class="text-center">
                            <a href="/buscontact/delete/<%= BuscontactList[count]._id %>" onclick="return confirm('Are you sure to delete?')" class="buttondlt">Delete</a>
                            <!-- <i class="fas fa-trash-alt"></i></a> -->
                        </td>
                    </tr>
                <% } %>
            </table>
        </div>
    </div>
  </main>
<%- include ../partials/footer.ejs %>